
<div class=" flex items-center justify-center min-h-screen min-w-full overflow-hidden">
    <div class="flex flex-col items-center justify-center">
        <!-- Logo
        <img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="Sakai logo" class="mb-5 w-24">                
         -->
        <!-- Card Container -->
        <div class="p-1 bg-gradient-to-b from-gray-800 via-blue-100 to-transparent" style="border-radius: 56px;">
            <div class="w-full bg-white py-8 px-5 sm:px-8 shadow-sm" style="border-radius: 56px;">
                <!-- Welcome Text -->
                <div class="text-center mb-5">
                    <img src="/assets/images/dmglogo.png" alt="Image" class="mb-3 h-12 mx-auto">
                    <div class="text-gray-900 text-3xl font-semibold mb-3">Welcome</div>
                    <span class="text-gray-600 font-medium">Sign in to continue</span>
                </div>

                <!-- Form Fields -->
                <div>
                    <form [formGroup]="myForm"
                    (ngSubmit)="doLogin()">

                                            <!-- Email Field -->
                    <label for="email" class="block text-gray-900 text-xl font-medium mb-2">Email</label>
                    <input id="email1" formControlName="email" type="email" placeholder="Email address" pInputText class="w-full md:w-96 mb-5 p-4 border border-gray-300" >

                    <!-- Password Field -->
                    <label for="password" class="block text-gray-900 font-medium text-xl mb-2">Password</label>
                    <input id="password" formControlName="password" type="password" placeholder="Password" pInputText class="w-full md:w-96 mb-5 p-4 border border-gray-300">

                    <!-- Remember Me and Forgot Password -->
                    <div class="flex items-center justify-between mb-5 gap-5">
                        <div class="flex items-center">
                            <input id="rememberme1" type="checkbox" class="mr-2 rounded border-gray-300 text-blue-500 focus:ring-blue-300">
                            <label for="rememberme1" class="text-gray-700">Remember me</label>
                        </div>
                        <a href="#" class="font-medium text-blue-500 hover:underline">Forgot password?</a>
                    </div>

                    <!-- Sign In Button -->
                    
                    <button pButton pRipple label="Sign In" 
                    type="submit"
                    [disabled]="myForm.invalid"
                    class="w-full py-3 bg-gray-700 text-white hover:bg-gray-800 transition-colors" ></button>
                     <!--
                    <button class="w-full bg-blue-500 text-white text-xl py-3 rounded-lg hover:bg-blue-600 transition-colors">
                        Sign In
                    </button>
                    -->

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


